html, body {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: white;

}

body {
	background-color: #e0f0ea;
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input:focus {
	outline: 3px solid #2196F3;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

.container{
	width: calc(100% - 2px);
	height: calc(100vh - 60px);
	background-color: #e0f0ea;
	position: relative;
}
.center-container{
	position: absolute;
  	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	padding: 20px;
	background-color: #503a65;
	border-radius: 10px;
	color: white
}

@media only screen and (max-width: 700px) {
	.center-container{
		width: calc(100% - 80px);
	}
}

.center-text {
	text-align: center;
}

.button-container {
	display: flex;
	justify-content: center;
}

button {
	margin: 5px;
	border-radius: 5px;
	background-color: white;
	outline: none;
	min-width: 150px;
}

button:focus {
	border-color: #666;
}

button:hover {
	background-color: #95adbe;
	color: white;
	cursor: pointer;
}

.text-highlight {
	font-weight: bold;
}

.spacing{
	margin-top: 20px;
}

.highlighted-text {
	font-size: 30px;
}
